body{
    font-family:"Segoe","Segoe UI","微软雅黑",sans-serif;
    font-size:30px;
    background-color:#fff;
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

input,button{
    font-family:"Segoe","Segoe UI","微软雅黑",sans-serif;
    font-size:20px;
    position: absolute;
    top:500px;
    left:100px;}

.title{
    width:100%;
    height:100%;
    position:absolute;
    top:550px;
    left:100px;
    background-color:#fff;
    z-index:3;
}

#money{
    font-family:Dunkin,"Segoe","Segoe UI",sans-serif;
    font-size:30px;
    color: #20c0fe;
    position: absolute;
    top:370px;
    left:100px;
}

#inputtext-1{
    font-family:Dunkin,"Segoe","Segoe UI",sans-serif;
    font-size:20px;
    color: #2c59ee;
    position: absolute;
    top:430px;
    left:100px;
}

#texts{
    font-family:Dunkin,"Segoe","Segoe UI",sans-serif;
    font-size:20px;
    position: absolute;
    background-color:#fff;
    top:465px;
    left:250px;
}

#texts2{
    font-family:Dunkin,"Segoe","Segoe UI",sans-serif;
    font-size:20px;
    position: absolute;
    background-color:#fff;
    top:520px;
    left:250px;
}

#texts3{
    font-family:Dunkin,"Segoe","Segoe UI",sans-serif;
    font-size:20px;
    position: absolute;
    background-color:#fff;
    top:575px;
    left:250px;
}

#testbotton{
    position: absolute;
    top:630px;
    left:100px;
}

#result{
    font-family:Dunkin,"Segoe","Segoe UI",sans-serif;
    position: absolute;
    font-size:25px;
    color: red;
    top:430px;
    left:550px;
}

#table-pos1{
    position: absolute;
    top:50px;
    left:100px;
}

#table-pos2{
    position: absolute;
    top:50px;
    left:550px;
}

.table1 table {
	width:100%;
	margin:15px 0;
	border:0;
}

.table1 th {
	font-weight:bold;
	background-color:#c6f6fe;
	color:#20c0fe
}

.table1,.table1 th,.table1 td {
	font-size:0.8em;
	text-align:center;
	padding:10px;
	border-collapse:collapse;
}

.table1 th {
	border: 1px solid #c6f6fe;
	border-width:1px
}

.table1 td {
	border: 1px solid #c6f6fe;
	border-width:1px
}

.table1 tr {
	border: 1px solid #ffffff;
}

.table1 tr:nth-child(odd){
	background-color:#f7f7f7;
}

.table1 tr:nth-child(even){
	background-color:#ffffff;
}
